@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

/* Default theme */
:root {
    --pal-bg: #E5EAF0;
    --pal-medium: #28332e;
    --pal-text: #607298;
    --pal-header: #323947;
    --pal-darker: #1a1e1c;
    --pal-sf: #0046FB;

    --pal-article-text: #323947;

    /* Custom blocks */
    --pal-warning:#ea1a1a;

    --pal-string-bg: #e5eaf0;
    --pal-string-text: #323947;

    --pal-nav-currentarticle-bg: white;
    --pal-nav-currentarticle-text: #0046FB;
}

/* 
    Night mode 
    This isn't clean, but I guess that's the consequences of treating night mode as an afterthought 
*/

html.night {
    --pal-bg: #181b1e;
    --pal-medium: #28332e;
    --pal-text: #5b6c7e;
    --pal-header: #e3e3e3;
    --pal-darker: #2d3b34;
    --pal-sf: #396ef8;

    --pal-article-text: #ccd6e2;

    --pal-warning: #ea1a1a;

    --pal-string-bg: #181b1e;
    --pal-string-text: #6477a6;

    --pal-nav-currentarticle-bg: #5b6c7e;
    --pal-nav-currentarticle-text: #181b1e;
}
body.night {
    background: #0e0e10;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: hidden;
}

.navigation.mobile.displaying {
    left: 0;

}
.navigation.mobile {
    position: fixed;
    left: -100%;
    width: 100%;
    z-index: 999;
    min-width: unset;
}

.navigation {
    min-width: 380px;
    height: 100%;
    position: fixed;
    background: var(--pal-bg);
    color: white;
    font-weight: 300;
    display: flex;
    flex-flow: column;
    transition: left .15s ease-in-out;
}

.navigation p {
    font-family: "JetBrains Mono", monospace;
    margin: 32px;
    background: var(--pal-header);
    color: var(--pal-bg);
    font-weight: 500;
    width: fit-content;
    padding: 0 25;
    font-size: 22px;
    user-select: none;
}

.navigation h1 {
    font-size: 16;
    padding-left: 32px;
    padding: 5 32;
    color: var(--pal-header);
    font-weight: 700;
}
.navigation nav-item {
    display: flex;
    align-items: center;
    color: var(--pal-text);
    padding-left: 32px;
    transition: all .12s ease-in-out;
    line-height: 36px;
    font-weight: 600;
}
    .navigation nav-item:last-child
    {
        margin-bottom: 32px;
    }
.navigation nav-item span {
    margin-right: 16px;
}
.navigation nav-item:hover {
    background: var(--pal-nav-currentarticle-bg);
    color: var(--pal-nav-currentarticle-text);
    cursor: pointer;
}

.navigation nav-item.pending {
    border: 3px solid var(--pal-header);

    animation-name: loading;
    animation-duration: 0.42s;
    animation-iteration-count: infinite;
}

.navigation nav-item.currentCategory {
    background: var(--pal-nav-currentarticle-bg);
    color: var(--pal-nav-currentarticle-text);
    user-select: none;
    cursor: default;
}

.navigation .banner {
    color: var(--pal-text);
    bottom: 0;
    left: 0;
    right: 0;
    width: 380px;
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
    padding: 32px;
    box-sizing: border-box;
}
.navigation .banner a {
    display: unset;
    padding: unset;
    line-height: unset;
    text-decoration: underline;
}
.navigation .banner img {
    display: block;
    margin-top: 32px;
}
.navigation img.b {
    display: inline;
}

/* Not real cats unfortunately */
.navigation .cats {
    overflow-y: scroll;

    scrollbar-color: var(--pal-text) #00000000;
    scrollbar-width: thin;
    direction: rtl;
}

.navigation .cats * {
    direction: ltr; /* Feels like a weird hack for late 2024.. */
}

/* IMAGE VIEWER */

#imageviewer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000db;
    z-index: 1000;
}

#imageviewer img {
    user-select: none;
    position: fixed;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#imageviewer a {
    user-select: none;
    position: fixed;
    background: var(--pal-sf);
    color: white;
    font-family: 'JetBrains Mono';
    text-decoration: none;
    padding: 10 25;
    text-transform: uppercase;
    left: 50%;
    bottom: 32px;
    transform: translate(-50%, 0);
    transition: all .1s ease-in-out;
}
    #imageviewer a:hover {
        color: var(--pal-sf);
        background: white;
    }


#imageviewer p {
    position: fixed;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
}

/* CONTENTS */


.contents 
{
    color: var(--pal-article-text);
    font-weight: 400;
    padding: 64px;
    margin-left: 380px;
    min-width: 50%;
    width: 60%;
    max-width: 60%;
}
.contents h1 {
    margin: 0;
    font-weight: 800;
    font-size: 42px;
    text-transform: uppercase;
    color: var(--pal-header);
}
.contents h2 {
    color: var(--pal-sf);
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    margin-top: 86px;
    margin-bottom: 24px;
    line-height: 34px;
}
.contents h3 {
    font-size: 24px;
    line-height: 18px;;
    margin-top: 64px;
    margin-bottom: 24px;
    
}
.contents h2, .contents h3 {
    text-align: left;
    line-break: anywhere;
} 

.contents a {
    font-weight: bold;
    color: var(--pal-sf);
    transition: all .12s ease-in-out;
}
.contents a:hover {
    color: var(--pal-header);
}
.contents a:active {
    background: var(--pal-header);
    color: var(--pal-medium);
    text-decoration: none;
}

.contents .meta {
    font-style: italic;
    color: var(--pal-text);
    border-top: 2px solid #60729824;
    margin-left: 104;
    padding-top: 16px;
    margin-top: 48px;
    padding-bottom: 48;
}
    .contents.mobile .meta {
        margin-left: 0;
        font-size: 12px;
    }

.contents code {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    border-radius: 3px;
    font-weight: 300;
    padding: 0 20 !important;

    scrollbar-color: #ffffff #fdfdfd38;
}
.contents pre {
    width: 100%;
    margin: 32 0;
}

.contents img {
    position: relative;
    max-width: 100%;
    border-radius: 3px;
    margin: 16 0;
    transition: transform .12s ease-in-out;
}

.contents img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.contents ul {
    text-align: left;
    margin-left: 25px;
}
.contents li {
    margin: 15px 0;
}

.contents hr {
    margin-top: 20px;
    margin-bottom: 46px;
}

/* .mobile class overrides some of the visuals. Do not add this if user is on desktop. */
.contents.mobile {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    padding: 25 25;
    padding-top: 64px;
}
.contents.mobile .Article {
    padding-left: 0;
}
.contents.mobile p {
    margin: 30 0;
}
.contents.mobile string {
    display: inline;
}


/* CONTENTS SPECIAL BLOCKS */
/* They are not valid HTML elements, but CSS still allows you to style them, so I am using this as my advantage */ 

.contents notation {
    display: block;
    text-align: left;
    margin-bottom: 25px;
    border: 2px solid var(--pal-text);
    border-radius: 1px;
    width: fit-content;
    padding: 5 25;
}

.contents warning, .contents info {
    position: relative;
    display: block;
    padding: 20 36px;
    border-radius: 3px;  
    margin: 32 0 24 0;
    font-weight: 500;
    line-height: 21px;
}
.contents warning::before, .contents info::before {
    position: absolute;
    top: -13px;
    line-height: 24px;
    color: white;
    padding: 0 25;
    font-weight: bold;    
}

.contents warning {
    border: 2px solid var(--pal-warning);
    color: var(--pal-warning);
}
.contents warning::before {
    content: "WARNING";
    background: var(--pal-warning);
}

.contents info {
    border: 2px solid var(--pal-sf);
    color: var(--pal-sf);
}
    .contents info b {
        color: var(--pal-header);
    }
.contents info::before {
    content: "NOTE";
    background: var(--pal-sf);
    color: white;
}

.contents string {
    display: inline-block;
    font-family: 'JetBrains Mono', monospace;
    background: var(--pal-string-bg);
    color: var(--pal-string-text);
    padding: 0 10;
    margin: 0 3;
}


.contents video {
    width: 100%;
    border-radius: 2px;
    margin: 20 0;
}

.contents article-ref {
    display: inline-block;
    background: var(--pal-sf);
    color: white;
    padding: 0 10;
    margin: 0 5;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.contents article-ref:hover {
    transform: scale( 1.1 );
    color: var( --pal-sf );
    background: white;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);
}

/* DOWNLOAD SECTION */

a.dl {
    text-decoration: none;
}

.download {
    width: 100%;
    border: 3px solid var(--pal-sf);
    border-radius: 3px;
    display: flex;
    padding: 24 50;
    justify-content: center;
    transition: all .23s ease-in-out;
    margin-top: 24px;
}
.contents.mobile .download {
    padding: 8 8;
    font-size: 12px;
}
    .download:hover {
        transform: scale(1.05);
        background: var(--pal-sf);
    }
        .download:hover .icon, .download:hover .file, .download:hover .file b {
            color: white;
        }
    .download .icon {
        display: flex;
        align-items: center;
        color: var(--pal-sf);
        transition: color .2s ease-in-out;
    }
        .download .icon span {
            font-size: 64px;
            transform: rotate(-4deg);
        }
        .contents.mobile .download .icon span {
            font-size: 32px;
        }

    .download .file {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-left: 35px;
        color: var(--pal-header);
        font-weight: 500;
        transition: color .2s ease-in-out;
    }
        .download .file b {
            transition: color .2s ease-in-out;
            font-family: "JetBrains Mono", monospace;
            background: var(--pal-sf);
            color: white;
            width: fit-content;
            padding: 5 20;
            font-weight: 400;
        }

/* CONTENTS HEADER */

.contents .ArticleHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contents .ArticleHeader .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    background: unset;
    margin-right: 24px;
}
.contents .ArticleHeader .icon span {
    background: unset;
    color: var(--pal-sf);
    font-size: 76px;
}
.contents .ArticleHeader .description {
    display: flex;
    flex-direction: column;
}
.contents .ArticleHeader .description span {
    color: var(--pal-sf);
    background: unset;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.contents .ArticleHeader .description h1 {
    line-height: 36px;
    font-size: 36px;
}

/* HEADERS */
/* That little thing that displays all headers and sub-headers for quick navigation across the article */ 

@media ( max-width: 1800px ) {
    .headers {
        display: none;
    }
}

.headers {
    position: fixed;
    z-index: 999; /* ugh */
    right: 50px;
    max-width: 350px;
    width: 350px;
    top: 80px;
    padding: 10 25px;
    
}
    .headers .current {
        color: var(--pal-sf);
        margin: 15 0;
    }
    .headers span {
        display: block;
        font-weight: bold;
        color: var( --pal-text );
        margin: 5 0;
        transition: all .12s ease-in-out;
        text-overflow: clip;
    }
    .headers span:hover {
        cursor: pointer;
        color: var( --pal-sf );
    }
        .headers .header {
            text-transform: uppercase;
            margin: 10 0;
        }
        .headers .subheader {
            font-weight: 500;
            margin-left: 38px;
        }

/* CONTENTS ITSELF */

.contents .Article {
    margin-top: 42px;
    padding-left: 104px;
    text-align: justify;
}

/* Theme Switcher */
.switch {
    position: fixed;
    z-index: 1000;
    right: 32px;
    bottom: 32px;
    background: var(--pal-bg);
    color: var(--pal-header);
    padding: 12px;
    border-radius: 2px;
    cursor: pointer;
    transition: all .12s ease-in-out;
    user-select: none;
}
    .switch:hover {
        color: white;
        background: var(--pal-sf);
    }

.switch::before {
    position: absolute;
    /* left: 0; */
    right: 0;
    text-align: center;
    padding: 0 20;
    font-weight: bold;
    text-transform: uppercase;
    top: -29px;
    width: 300%;
    content: "Switch theme";
    color: white;
    user-select: none;
    pointer-events: none;
    background: var(--pal-sf);

    opacity: 0;
    transform: scale( 0.95 );
    transition: all .12s ease-in-out;
}

.switch:hover::before {
    opacity: 1;
    transform: scale( 1 );
}

/* LOADER SHIT */ 

.loader
{
    position: fixed;
    right: 32;
    top: 32;
    background: var(--pal-header);
    padding: 10 25;
    color: var(--pal-bg);
    font-weight: 800;

    transition: all 0.25s ease-in-out;

    animation-name: loading;
    animation-duration: 0.42s;
    animation-iteration-count: infinite;
}

.hidden 
{
    right: -500px;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loader_spin {
    0% {
        transform: rotate( 0deg );
    }
    100% {
        transform: rotate( -360deg );
    }
}

@keyframes loader_fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* 
    Loading placeholder: visible until all elements on the page are fully loaded
*/
.placeholder {
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    display: flex;

    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background: var(--pal-bg);
    z-index: 9999;
}
.placeholder.removing {
    animation: loader_fade 0.25s ease-in-out;  
}

.placeholder span {
    background: #dd5858;
    padding: 5 25;
    color: var(--pal-bg);
}

.placeholder img {
    animation-name: loader_spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-bottom: 32px;
}